.wrapper-color-switch{
    width: 100%;
    height: 100%;
}


.darkMode:hover{
    background: white !important;
}


.colorSwitch{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #3C3C3C;
    font-weight: 500;
}

.whiteColorText{
    color: white !important;
}



.colorSwitch::before{
    content: "DARK MODE";  
    
        
}
@media screen and (max-width: 600px){
    .colorSwitch{
        color: #EE7723;
        background: #fff5f4;
    }
    .colorSwitch::before{
        background: #fff5f4;
    }

    .bg{
        background: #fff5f4;
    }
}

.colorSwitch:hover::before{    

    font-family: 'Lato', sans-serif;
}

#darkModeToggle:checked ~ label .toggle{
    transform: translateX(1.8em);
}

#darkModeToggle:checked ~ .colorSwitch::before{

    content: "LIGHT MODE";
    
}

#darkModeToggle{
    display: none;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 100%; 
    background: white;           
}