.section-tours-new {
    padding: 0 0 0 0;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 56.25em) {
    .section-tours-new {
        padding: 0 0 0 0
    }
}

.u-center-text-new {
    text-align: center !important
}

.u-margin-bottom-big-new {
    margin-bottom: 4rem !important
}

@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big-new {
        margin-bottom: 4rem !important
    }
}

.heading-secondary-new {
    font-size: 2.5rem;
    display: inline-block;  
    color: #0b0b0b;
}

/* Meet the Team Section */
.team {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  
    max-width: 90%;
    margin: auto;*/
    max-width: 90%;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-between;
    gap: 2rem;
  }
  
  .team__header {
    padding: 4rem;
    border-radius: 50%;
    background-color: #fff;
  
    text-align: center;
    width: max-content;
    height: auto;
    margin-left: -2rem;
    margin-bottom: -5rem;
  }
  
  .team__header-title {
    color: var(--main-purple);
    font-size: 3rem;
  }
  
  .team__header-subtitle {
    margin-top: 1rem;
    font-weight: bolder;
  }
  
  .team__member {
    min-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .team__member-profile {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  /* .team__member-profile, img {
  
  
  } 
  .team__member-role {
    color: #000000;
  } */
  
  .team__member-profile img {
  
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  
    object-fit: cover;
  }
  
  .team__member-role {
    color: #000000;
  }
  