.section-tours-new {
    padding: 0 0 0 0;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 56.25em) {
    .section-tours-new {
        padding: 0 0 0 0
    }
}

.u-center-text-new {
    text-align: center !important
}

.u-margin-bottom-big-new {
    margin-bottom: 4rem !important
}

@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big-new {
        margin-bottom: 4rem !important
    }
}

.heading-secondary-new {
    font-size: 2.5rem;
    /*text-transform: uppercase;*/
    font-weight: 700;
    display: inline-block;
    /*background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));*/
    /*background-image: linear-gradient(to right, #7ed56f, #28b485);*/
    color: #0b0b0b;
    -webkit-background-clip: text;
    /*color: transparent;*/
    /*letter-spacing: .2rem;*/
    -webkit-transition: all .2s;
    transition: all .2s
}

/*@media only screen and (max-width: 56.25em) {*/
/*    .heading-secondary-new {*/
/*        font-size: 3rem*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 37.5em) {*/
/*    .heading-secondary-new {*/
/*        font-size: 2.5rem*/
/*    }*/
/*}*/

/*.heading-secondary-new:hover {*/
/*    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);*/
/*    transform: skewY(2deg) skewX(15deg) scale(1.1);*/
/*    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2)*/
/*}*/

.row-new {
    max-width: 114rem;
    margin: 0 auto
}

.row-new:not(:last-child) {
    margin-bottom: 8rem
}

@media only screen and (max-width: 56.25em) {
    .row-new:not(:last-child) {
        margin-bottom: 6rem
    }
}

@media only screen and (max-width: 56.25em) {
    .row-new {
        max-width: 50rem;
        padding: 0 3rem
    }
}

.row-new::after {
    content: "";
    display: table;
    clear: both
}

.row-new [class^="col-"] {
    float: left;
    margin-bottom: 2rem;
}

.row-new [class^="col-"]:not(:last-child) {
    margin-right: 4.5rem
}

@media only screen and (max-width: 56.25em) {
    .row-new [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem
    }
}

@media only screen and (max-width: 56.25em) {
    .row-new [class^="col-"] {
        width: 100% !important
    }
}

.row-new .col-1-of-2-new {
    width: calc((100% - 6rem) / 2)
}

.row-new .col-1-of-3-new {
    width: calc((100% - 2 * 6rem) / 3)
}

.row-new .col-2-of-3-new {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem)
}

.row-new .col-1-of-4-new {
    width: calc((100% - 3 * 6rem) / 4)
}

.row-new .col-2-of-4-new {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem)
}

.row-new .col-3-of-4-new {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem)
}

/*.row-new .col-4-of-4-new {*/
/*    width: calc(4 * ((100% - 3 * 6rem) / 4) + 3 * 6rem)*/
/*}*/

.card-new {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 20rem
}

.card__side-new {
    height: 20rem;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15)
}

.card__side--front-new {
    background-color: floralwhite;
}

.card__side--back-new {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card__side--back-1-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)
}

.card__side--back-2-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.card__side--back-3-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)
}

.card__side--back-4-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

/*.card__side--back-5-new {*/
/*    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));*/
/*    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)*/
/*}*/

.card__side--back-6-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.card__side--back-7-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)
}

.card__side--back-8-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.card__side--back-9-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730)
}

.card__side--back-10-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
}

.card-new:hover .card__side--front-new {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.card-new:hover .card__side--back-new {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.card__picture-new {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.card__picture--1-new {
    background-image: url("../images/Core members/Apurva Raj.jpeg");
}

.card__picture--2-new {
    background-image: url("../images/Core members/Subham Choudhary.jpeg");
}

.card__picture--3-new {
    background-image: url("../images/Core members/Shrayansh Jain.jpeg");
}

.card__picture--4-new {
    background-image: url("../images/Core members/Thejasree Kalri.jpeg");
}

.card__picture--5-new {
    background-image: url("../images/Core members/Rohan Nishant.jpeg");
}

.card__picture--6-new {
    background-image: url("../images/Core members/Aditya Anand.jpeg");
}

.card__picture--7-new {
    background-image: url("../images/Core members/Antalina Sarkar.jpeg");
}

.card__picture--8-new {
    background-image: url("../images/Core members/Ravula Sreeja.jpeg");
}

.card__picture--9-new {
    background-image: url("../images/Core members/Manjari Chakrovarty.jpeg");
}

.card__picture--10-new {
    background-image: url("../images/Core members/Rakshit Ramesh Iyer.jpeg");
}

.card__heading-new {
    font-size: 1.2rem;
    font-weight: 300;
    /*text-transform: uppercase;*/
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%
}

.card__heading-span-new {
    padding: 0.2rem 0.2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.card__heading-span--1-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--2-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__heading-span--3-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--4-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__heading-span--5-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--6-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__heading-span--7-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--8-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__heading-span--9-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85))
}

.card__heading-span--10-new {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85))
}

.card__details-new {
    padding: 1rem
}

.card__details-new ul {
    list-style: none;
    width: 80%;
    margin: 0 auto
}

.card__details-new ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem
}

.card__details-new ul li:not(:last-child) {
    border-bottom: 1px solid #eee
}

.card__cta-new {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center
}

.card__price-box-new {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem
}

.card__price-only-new {
    font-size: 1.4rem;
    text-transform: uppercase
}

.card__price-value-new {
    font-size: 6rem;
    font-weight: 100
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card-new {
        height: auto;
        border-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15)
    }

    .card__side-new {
        height: auto;
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .card__side--back-new {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%)
    }

    .card-new:hover .card__side--front-new {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }

    .card__details-new {
        padding: 1rem 3rem
    }

    .card__cta-new {
        position: relative;
        top: 0%;
        left: 0;
        -webkit-transform: translate(0);
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem
    }

    .card__price-box-new {
        margin-bottom: 3rem
    }

    .card__price-value-new {
        font-size: 4rem
    }
}

.btn-new, .btn-new:link, .btn-new:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer
}

.btn-new:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn-new:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0
}

.btn-new:active, .btn-new:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
}

.btn--white-new {
    background-color: #fff;
    color: #777
}

.btn--white-new::after {
    background-color: #fff
}

.btn--green-new {
    background-color: #55c57a;
    color: #fff
}

.btn--green-new::after {
    background-color: #55c57a
}

.btn-new::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s
}

.btn--animated-new {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

.btn-text-new:link, .btn-text-new:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.btn-text-new:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.btn-text-new:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
